<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Example: </h2>
<mdl-md-library></mdl-md-library>
<mdl-diagram [nodeData]="nodeData" [linkData]="linkData" [paletteData]="paletteData"></mdl-diagram>
<mdl-adornment></mdl-adornment>
<mdl-animation-manager></mdl-animation-manager>
<mdl-binding></mdl-binding>
<mdl-brush></mdl-brush>
<mdl-command-handler></mdl-command-handler>
<mdl-context-menu-tool></mdl-context-menu-tool>
<mdl-geometry></mdl-geometry>
<mdl-graph-links-model></mdl-graph-links-model>
<mdl-graph-object></mdl-graph-object>
<mdl-grid-layout></mdl-grid-layout>
<mdl-group></mdl-group>
<mdl-input-event></mdl-input-event>
<mdl-iterator></mdl-iterator>
<mdl-layered-digraph-layout></mdl-layered-digraph-layout>
<mdl-layout></mdl-layout>
<mdl-linking-tool></mdl-linking-tool>
<mdl-panel></mdl-panel>
<mdl-part></mdl-part>
<mdl-path-figure></mdl-path-figure>
<mdl-path-segment></mdl-path-segment>
<mdl-relinking-tool></mdl-relinking-tool>
<mdl-spot></mdl-spot>
<mdl-tool-manager></mdl-tool-manager>
<mdl-undo-manager></mdl-undo-manager>
